{% extends "base.html" %}

{% block classification_head %} {{ classification|upper }} {% endblock classification_head %}

{% block top_row %}
	<div class="row-fluid">
		<div class="span8 offset4">
			<h3>Elite Trader</h3>
		</div>
		<!--
		<div class="span2 offset2">
			<h5>Terrain 2D Profile:</h5>
		</div>
		<div class="span2 offset3">
			<h5>Shot Details::</h5>
		</div>
		-->
	</div>

{% endblock top_row %}

{% block main_block %}
	<div class="row-fluid">
		<div class="span4 offset1">
				<ul class="unstyled">
					<h6>Last Run Time: {{ lastRunTime|safe }}</h6>
				</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3 offset1">
			<h5>Highest Profit Commodities (weighted by distance):</h5>
			<style>

			body {
			  font: 10px sans-serif;
			}

			.bar rect {
			  fill: steelblue;
			  shape-rendering: crispEdges;
			}

			.bar text {
			  fill: #fff;
			}

			.axis path, .axis line {
			  fill: none;
			  stroke: #000;
			  shape-rendering: crispEdges;
			}

			</style>
			<script type='text/javascript' src='/static/js/d3.min.js' charset='utf-8'></script>
			<script>

			// Generate a Bates distribution of 10 random variables.
			// var values = d3.range(1000).map(d3.random.bates(10));
			var values = {{ yvals|safe }};
			var binscnt = {{ bins|safe }};
			document.write(binscnt)

			// A formatter for counts.
			var formatCount = d3.format(",.0f");

			var margin = {top: 10, right: 30, bottom: 30, left: 30},
			    width = 960 - margin.left - margin.right,
			    height = 500 - margin.top - margin.bottom;

			var x = d3.scale.linear()
			    .domain([0, binscnt])
			    .range([0, width]);

			// Generate a histogram using twenty uniformly-spaced bins.
			var data = d3.layout.histogram()
			    .bins(x.ticks(binscnt))
			    (values);

			var y = d3.scale.linear()
			    .domain([0, d3.max(values)])
			    .range([height, 0]);

			var xAxis = d3.svg.axis()
			    .scale(x)
			    .orient("bottom");

			var svg = d3.select("body").append("svg")
			    .attr("width", width + margin.left + margin.right)
			    .attr("height", height + margin.top + margin.bottom)
			  .append("g")
			    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			var bar = svg.selectAll(".bar")
			    .data(data)
			  .enter().append("g")
			    .attr("class", "bar")
			    .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

			bar.append("rect")
			    .attr("x", 1)
			    .attr("width", x(data[0].dx) - 1)
			    .attr("height", function(d) { return height - y(d.y); });

			bar.append("text")
			    .attr("dy", ".75em")
			    .attr("y", 6)
			    .attr("x", x(data[0].dx) / 2)
			    .attr("text-anchor", "middle")
			    .text(function(d) { return formatCount(d.y); });

			svg.append("g")
			    .attr("class", "x axis")
			    .attr("transform", "translate(0," + height + ")")
			    .call(xAxis);

			</script>
			<script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>


		</div>
	</div>

{% endblock main_block %}
